* {
    padding: 0;
    margin: 0;
    font-family: "open sans", sans-serif;
}

section {
    padding: 80px 8%;
}

/* .container{
    max-width: 1200px;
    margin:auto;
} */

.common-btn {
    background-color: #1D4ED8;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.outline-btn {
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: #2563EB;
    border: 1px solid #2563EB;
    cursor: pointer;
}

.common-btn:hover {
    background-color: #1E40AF;
}

.outline-btn:hover{
    background-color: #ebebf0;
}


/*nav*/

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
    align-items: center;
    background-color: #FFFFFF;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 25px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #575757;
    cursor: pointer;
}

.logo img {
    height: 55px;
}

img {
    max-width: 100%;
}

/* Header */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.header-content {
    color: white;
    text-align: center;
    display: grid;
    gap: 30px;
}

.header-content h1 {
    font-size: 65px;
    font: bold;
}

.header-content p {
    font-size: 18px;
    margin-bottom: 300px;
}

.header-content button {
    width: 15%;
    margin-left: 40%;
    padding: 10px 0 !important;
}

.header-content h1 span {
    font-style: italic;
    font: bold;

}

/* main */

main {
    padding-top: 45px;
    background-color:#ffffff;
}

.meet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.meet article img {
    width: 100%;
    display: block;
}

main h1 {
    color: #000102;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    margin: 13px 0 0;
}

.meet article {
    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.meet article:hover {
    background-color: #e6e6ea;
}

.meet article p, .meet article h3 {
    padding: 0 24px;
}

.info {
    color: #2563EB;
    font-size: 12px;
    margin: 16px 0 8px;
}

main article h3 {
    color: #0D1B2A;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 8px;
}

.role {
    color: #575757;
    font-size: 13px;
    margin: 0 0 24px;
}

/* card section */

.secure{
    text-align: center;
    margin-bottom: 50px;
}

.secure h2{
    font-size: 56px;
    font: bold;
    color: #0D1B2A;
    margin: 0;
}

.secure p{
    font-size: 18px;
    color: #575757;
    margin-top: 15px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 80%;
    margin: 50px auto;
}

.card2, .card-pro{
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    cursor: pointer;
}

.card-pro{
    background: #0D1B2A;
    color: #FFFFFF;
    border: none;
}

.card2 h3, .card-pro h3{
    font-size: 48px;
    margin: 10px 0 5px;
    font-weight: bold;
}

.price-text{
    color: #888888;
    font-size: 16px;
    margin-bottom: 20px;
}

.card-pro .price-text{
    color: #888888;
}

.card2 hr, .card-pro hr{
    border: none;
    border-top: 1px solid #888888;
    margin: 20px 0;
}

.card2 ul, .card-pro ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

.card2:hover{
    background-color: #f3f4f6;
}

.card-pro:hover{
    background-color: #11263e;
}


.card2 li, .card-pro li{
    display: block;
    margin-bottom: 14px;
}

.card2 li{
    color: #333333;
}

.card-pro li{
    color: #FFFFFF;
}

.card2 button, .card-pro button{
    margin-top: auto;
}

.plan{
    color: #888888;
    font-weight: 600;
}

.plan2{
    color: #93C5FD;
    font-weight: 600;
}

.dot{
    color: #2563EB;
    font: bold;
    font-size: 22px;
    margin-right: 10px;
}