* {
    padding: 0;
    margin: 0;
    font-family: "open sans", sans-serif;
}

section {
    padding: 80px 8%;
}

/* .container{
    max-width: 1200px;
    margin:auto;
} */

.common-btn {
    background-color: #1D4ED8;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.outline-btn {
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: #1D4ED8;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.common-btn:hover {
    background-color: #1E40AF;
}

/*nav*/

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
    align-items: center;
    background-color: #FFFFFF;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 25px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #575757;
    cursor: pointer;
}

.logo img {
    height: 55px;
}

img {
    max-width: 100%;
}

/* Header */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.header-content {
    color: white;
    text-align: center;
    display: grid;
    gap: 30px;
}

.header-content h1 {
    font-size: 65px;
    font: bold;
}

.header-content p {
    font-size: 18px;
    margin-bottom: 300px;
}

.header-content button {
    width: 15%;
    margin-left: 40%;
    padding: 10px 0 !important;
}

.header-content h1 span {
    font-style: italic;
    font: bold;

}

/* main */

main {
    padding-top: 45px;
}

.meet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.meet article img {
    width: 100%;
    display: block;
}

main h1 {
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    margin: 13px 0 0;
}

.meet article {
    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
}

.meet article:hover {
    background-color: #e6e6ea;
}

.meet article p, .meet article h3 {
    padding: 0 24px;
}

.info {
    color: #2563EB;
    font-size: 12px;
    margin: 16px 0 8px;
}

main article h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 8px;
}

.role {
    color: #575757;
    font-size: 13px;
    margin: 0 0 24px;
}